<main>
    <app-sidebar [menuIcons]="icons"></app-sidebar>
    <section class="main-section">
        <div class="content-wrapper">
            <h1>Plano de Desenvolvimento Individual</h1>
            <div class="content">
                <h2>[Bom dia], [Primeiro nome]!</h2>
                <p>Vamos juntos acompanhar a evolução dos nossos estudantes? <br><br>

                    O objetivo da Civitas é ter alunos em foco para crescer inteligente com os PDIs! Nos comprometemos
                    em te ajudar a identificar e desenvolver as habilidades humanas dos nossos estudantes, fugindo do
                    ensino tradicional e focando em formar pessoas com maior autoconhecimento, inteligência emocional,
                    responsabilidade e organização. <br><br>

                    Acesse suas turmas <strong>[nome da escola]</strong> para começar a criar PDIs para os seus
                    estudantes!</p>
            </div>
            <button class="btn-content">Acessar minhas turmas</button>
            <div class="video-wrapper">
                teste
            </div>
        </div>

    </section>
</main>